#container{
    background-color: gray;
    padding: 7px 10px;
    display: table;
    margin: 0 auto;
}

.rij{
    padding: 5px;
    margin: 10px;
    border: 1px solid black;
}

.button{
    margin: 3px;
    width: 60px;
    height: 60px;
}