#container {
	display: grid;
	grid-template-areas: 
	'game game game'
	'game game game'
	'game game game'
	'game game game'
	'game game game'
	'menu menu menu'
	'dialogue dialogue dialogue';
	width: 1000px;
	height: 700px;
	margin: 0px auto;
}

div#game {
	grid-area: game;
	display: block;
	background-color: darkgray;
	background-size: 1000px 475.56px;
	background-image: url('../pictures/startscreen.jpg');
}

#menu {
	grid-area: menu;
	display: block;
	background-color: gray;
}

#dialogues {
	grid-area: dialogue;
	background-color: gray;
	display: block;
}
div#buttons {
	margin-top: 5px;
	display: flex;
	justify-content: center;
}

p{
	margin: 0px;
}
p#text {
	text-align: center;
}
button#startgame {
	margin: 0px auto;
	display: flex;
}
