body {
 	font-family: Archivo;
}

ul {
	list-style: none;
}

a {
	color: black;
}

#container {
 	display: grid;
 	grid-template-areas: 
 	'header'
 	'navbar'
 	'banner'
 	'proefles'
 	'locaties'
 	'rijlessen'
 	'video'
 	'footer';
}

#dropdownbutton, #navdropdown {
	margin-left: 5%;
	font-size: 150%;
	width: 26px;
}

#dropdownbutton:hover, #navdropdown:hover {
	cursor: pointer;
}

#navdropdown {
	display: inline-block;
	position: relative;
	float: left;
}

#header {
 	background-color: yellow;
 	width: 100%;
 	grid-area: header; 
 	position: relative;
}

#bannerimg {
	width: 100%;
}

#navbar {
	grid-area: navbar;
	position: relative;
}

#indrop1, #indrop2 {
	position: relative;
	margin-left: 25%;
}

#logo {
	margin-top: 10px;
	margin-left: 50%;
	height: 75px;
	width: 200px;
}

#banner {
	grid-area: banner;
	display: inline-block;
	text-align: center;
}

.bannertext {
	display: none;
}

#text1 {
	max-width: 250px;
	grid-area: proefles;
	margin: 5% auto;
}

#textbutton {
	width: 75%;
	border: none;
	background-color: yellow;
	padding: 15px;
}

#textbutton:hover {
	cursor: pointer;
}

#text2 {
	max-width: 250px;
	grid-area: locaties;
	margin: 5% auto;
}
#text3 {
	max-width: 250px;
	grid-area: rijlessen;
	margin: 5% auto;
}
.text {
	width: 80%;
	text-align: left;
}

.text > h1 {
	border-bottom: gray solid 1px;
	width: 100%;
}

iframe {
	width: 64vw;
	height: 36vw;
	grid-area: video;
	margin: 0px auto;
}

ul#myDropdown, ul#myDropdown > li {
	background-color: yellow;
}
ul#myDropdown {
	margin: 0px;
	width: 100%;
	padding: 0px;
}
ul#myNavdrop {
	margin: 0px;
	width: 100%;
	padding: 0px;
}

ul#myNavdrop > li {
	text-align: left !important;
}

.dropdown-content {
  display: none;
  text-align: left;
}

.show {
	display: block;
	position: relative;
	z-index: 1;
}

#footer {
	grid-area: footer;
	width: 100%;
	padding: 15px 0px;
	margin-top: 10px;
	text-align: center;
	background-color: yellow;
}


@media only screen and (min-width: 720px) {

    #container {
    	display: grid;
        grid-template-areas: 
        'header header header'
        'navbar navbar navbar'
        'banner banner banner'
        'proefles locaties rijlessen'
        'video video video'
        'footer footer footer';
    }

    #dropdownbutton, #navdropdown {
    	display: none;
    }

    #myNavdrop {
    	display: inline-block;
    }

	#myDropdown {
		display: inline-block;
	}
	.show {
		position: relative;
	}

	#header {
		text-align: center;
	}
	#bannerimg {
		display: none;
	}

	#navbar {
		text-align: center;
		padding: 0%;
	}

	#logo {
		margin-top: 15px;
		margin-left: 0px;
}

	#banner, #bannerimg {
		width: 100%;
	}
	#bannerH {
		font-size: 20px;
		display: inline-block;
		margin-top: 25%;
	}

	#bannerP {
		font-size: 12px;
		display: inline-block;
	}
	#bannerH, #bannerP {
		font-size: 2em;
	}
	.bannertext {
		background-color: yellow;
	}

	#bannertekst {
		position: relative;
		background-image: url('header.jpg');
		background-repeat: no-repeat;
		background-size: 100%;
		height: 880px;
		/*top: 50%;*/
	}

	#video {
		margin-top: 50px;
	}

	#footer {
		margin-top: 50px;
	}
	
	ul#myDropdown {
		text-align: center;
		margin: 10px;
		width: 95%;
	}
	ul#myNavdrop {
		text-align: center;
		margin: 10px;
		width: 65%;
		bottom: 15%;
	}

    li {
 		display: inline-block;
 		margin: 0px 40px;
	}
	
	#indropbutton1, #indropbutton2 {
		position: relative;
	}

	#indrop1, #indrop2 {
		position: absolute;
		margin-left: 5%;
	}

	#indrop1 > li, #indrop2 > li {
		display: block;
		background-color: white;
		padding: 5px 15px;
		margin: 0px;
	}

}